body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url('src/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1, h3, h5 {
    color: #111a30;
    text-align: center;
}

div {
    text-align: center;
}

a {
    text-decoration: none;
}

.child {
    padding: 10px;
    margin: 10px;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 10%;
    border:3px solid white;
    box-shadow: 8px 10px 20px #808080;
}

.app {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    box-shadow: 8px 10px 20px #808080;
    margin-bottom: 1%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_shadow {
    text-shadow: 1px 1px 3px #808080;
}

.icon {
    width: 75px;
}

.icon2 {
    width: 70px;
}

.icon3 {
    width: 80px;
}

@media only screen and (max-device-width: 850px) {
    /* For mobile phones: */
    body {
        background-image: url('src/background-mobile.png');
    }
    
    .icon {
      width: 180px;
    }

    .icon2 {
        width: 175px;
      }

    .app{
        width: 180px;
        height: 180px;
      }

    .avatar {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: xx-large;
    }

    h3 {
        font-size: x-large;
    }

    h5 {
        font-size: large;
    }
  }

